/cbzManager/backup/cbzManager.lps.bak
/cbzManager/backup/*
/cbzManager/cbzManager
/cbzManager/cbzManager.dbg
/cbzManager/cbzManager.res
/cbzManager/cbzManagerOsx.res
/cbzManager/cbzManager_0.9.0.0_amd64.deb
/cbzManager/cbzManager_0.9.0.0_amd64.lintian
/cbzManager/lib/x86_64-linux/*
/precompiled binairies/Linux/cbzManager_0.9.0.0_amd64.lintian
/Utils/backup/*
/precompiled binairies/Linux/cbzManager
/precompiled binairies/Linux/cbzManager.desktop
/precompiled binairies/Linux/README
/precompiled binairies/Linux/cbzManager.png
/precompiled binairies/Linux/installlinux.sh
*.dbg
*.exe
*.o
*.obj
*.ppu
cbzManager/lib/x86_64-win64/cbzManagerWin.compiled
cbzManager/lib/x86_64-win64/cbzManagerWin.res
cbzManager/lib/x86_64-win64/config.lfm
cbzManager/lib/x86_64-win64/frmwait.lfm
cbzManager/lib/x86_64-win64/main.lfm
cbzManager/lib/x86_64-win64/uloadreport.lfm
cbzManager/lib/x86_64-win64/utils.zipfile.rsj
cbzManager/~/.config/cbzManager/config.json
