*.dbg
*.res
*.deb
*.lintian
*.dbg
*.o
*.obj
*.ppu
*.a
.DS_Store
*.part
*.or
*.or
cbzManager/lib/x86_64-win64/*
cbzManager/Library/lib/x86_64-win64/*
cbzManager/lib/x86_64-darwin/*
cbzManager/Library/backup/*
cbzManager/Library/lib/x86_64-darwin/*
cbzManager/backup/*
