/cbzManager/backup/cbzManager.lps.bak
/cbzManager/backup/*
/cbzManager/cbzManager
/cbzManager/cbzManager.dbg
/cbzManager/cbzManager.res
/cbzManager/cbzManagerOsx.res
/cbzManager/cbzManager_0.9.0.0_amd64.deb
/cbzManager/cbzManager_0.9.0.0_amd64.lintian
/cbzManager/lib/x86_64-linux/*
/precompiled binairies/Linux/cbzManager_0.9.0.0_amd64.lintian
/Utils/backup/*
/precompiled binairies/Linux/cbzManager
/precompiled binairies/Linux/cbzManager.desktop
/precompiled binairies/Linux/README
/precompiled binairies/Linux/cbzManager.png
/precompiled binairies/Linux/installlinux.sh
*.dbg
*.o
*.obj
*.ppu
cbzManager/lib/x86_64-win64/*.*
cbzManager/cbzManagerWin.exe
cbzManager/cbzManagerWin.json
cbzManager/cbzManagerWin.res
cbzManager/cbzManagerWin.res
precompiled binairies/Windows/cbzManager.exe
/cbzManager/cbzManager.json
*.a
cbzManager/lib/x86_64-win64/libimputils.naturalsortstringlist.a
/precompiled binairies/Linux/Files/cbzManager.zip
/precompiled binairies/Linux/Files/cbzManager
cbzManager/lib/x86_64-darwin/main.lfm
.DS_Store
*.part
cbzManager/Logs/*
cbzManager/Library/*

*.res
